<div class="alert alert-dismissible alert-dark" id="construction">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Excuse our mess!</strong> We are still under construction, but in the meantime, check out a sister site <a href="https://hub.warframestat.us/" target="_blank" rel="noopener" alt="Warframe Hub">here</a>
</div>
<div class="alert alert-dismissible alert-info" id="instruction1">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Welcome to Tenno.tv! Toggles turn on and off the desired tags. They default to off.
</div>
<div class="alert alert-dismissible alert-info" id="instruction2">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Hey Look! We reorganized a little bit! There's a Next Video button in the video controls now.
</div>
