<div class="container" id="under-player-controls">
  <div class="row">
    <div class="navbar n-center text-center">
      <button name="Histor" type="button" id="historyTrigger" class="btn btn-secondary btn-sm" href="#history" data-target="#history" data-toggle="modal">
        <a data-toggle="tooltip" data-placement="bottom" title="Open History">
          <i class="fas fa-history"></i>
          </a>
      </button>
      <button name="History" type="button" id="playlistTrigger" class="btn btn-secondary btn-sm" href="#plist" data-target="#plist" data-toggle="modal">
        <a data-toggle="tooltip" data-placement="bottom" title="Open Playlist">
          <i class="fas fa-list-ul"></i>
        </a>
      </button>
      <button name="Content Creators" type="button" id="creatorsTrigger" class="btn btn-secondary btn-sm" href="#creators" data-target="#creators" data-toggle="modal">
        <a data-toggle="tooltip" data-placement="bottom" title="Content Creators">
          <i class="fas fa-users"></i>
        </a>
      </button>
      <button name="Next Video" type="button" id="playerNext" onclick="player.seekTo(player.getDuration())" class="btn btn-secondary btn-sm">
        <a data-toggle="tooltip" data-placement="bottom" title="Next Video">
          <i class="fas fa-fast-forward"></i>
        </a>
      </button>
    </div>
  </div>
</div>
