<button name="Creator" aria-label="Creator" type="button" class="btn btn-secondary btn-sm btn-social btn-social-creator" data-social="creator_name" style="display:none">
  <a data-toggle="tooltip" data-placement="bottom" title="Creator">
    <i class="fas fa-user"></i>
  </a>
</button>
<button name="Twitter Feed" aria-label="Twitter Feed" type="button" class="btn btn-secondary btn-sm btn-social btn-social-twitter" data-social="twitter_handle" style="display:none">
  <a data-toggle="tooltip" data-placement="bottom" title="Twitter Feed">
    <i class="fab fa-twitter"></i>
  </a>
</button>
<button name="Twitch Channel" aria-label="Twitch Channel" type="button" class="btn btn-secondary btn-sm btn-social btn-social-twitch" data-social="twitch_handle" style="display:none">
  <a data-toggle="tooltip" data-placement="bottom" title="Twitch Channel">
    <i class="fab fa-twitch"></i>
  </a>
</button>
<button name="Patreon Page" aria-label="Patreon Page" type="button" class="btn btn-secondary btn-sm btn-social btn-social-patreon" data-social="patreon_name" style="display:none">
  <a data-toggle="tooltip" data-placement="bottom" title="Patreon Page">
    <i class="fab fa-patreon"></i>
  </a>
</button>
<button name="YouTube Channel" aria-label="YouTube Channel" type="button" class="btn btn-secondary btn-sm btn-social btn-social-youtube" data-social="account_name" style="display:none">
  <a data-toggle="tooltip" data-placement="bottom" title="YouTube Channel">
    <i class="fab fa-youtube"></i>
  </a>
</button>
