<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="social-items" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Socials
  </a>
  <div class="dropdown-menu  text-center" aria-labelledby="social-items">
    <a class='btn-social btn-social-creator nav-link' target='_blank' rel='noopener' data-social="creator_name" name='Creator' style="display:none">Creator</a>
    <a class='btn-social btn-social-twitter nav-link' target='_blank' rel='noopener' data-social="twitter_handle" name='Twitter' style="display:none">Twitter</a>
    <a class='btn-social btn-social-twitch nav-link' target='_blank' rel='noopener' data-social="twitch_handle" name='Twitch' style="display:none">Twitch</a>
    <a class='btn-social btn-social-patreon nav-link' target='_blank' rel='noopener' data-social="patreon_name" name='Patreon' style="display:none">Patreon</a>
    <a class='btn-social btn-social-youtube nav-link' target='_blank' rel='noopener' data-social="account_name" name='YouTube' style="display:none">YouTube</a>
  </div>
</li>
