<!-- History Modal dialog-->
<div class="modal plist-modal" id="history" tabindex="-1" role="dialog" aria-labelledby="historyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Watched History</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" name="Dismiss Modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-dark plist">
          <thead>
            <tr>
              <th scope="col" class="title col-md-7">Title</th>
              <th scope="col" class="author col-md-2">Owner</th>
              <th scope="col" class="tags col-md-3">Tags</th>
            </tr>
          </thead>
          <tbody id="historyList">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button name="Dismiss Modal" type="button" class="btn btn-secondary btn-danger" data-dismiss="modal" style="cursor:pointer;">Close</button>
      </div>
    </div>
  </div>
</div>
