{{> historyModal}}
{{> playlistModal}}
{{> contentCreatorsModal}}

<nav class="navbar navbar-dark sticky-top navbar-expand-lg " data-backdrop="false" id="top-nav">
  <a href="/"><img id="logo" class="navbar-brand" src="/img/logos/banner.webp" alt="logo"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-collapsible-content" aria-controls="header-collapsible-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="header-collapsible-content">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item text-right">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="options">
          {{> tagToggles}}
        </div>
        {{> siteOptions}}
      </li>
    </ul>
  </div>
</nav>
