{{> historyModal}}
{{> playlistModal}}
{{> contentCreatorsModal}}

<nav class="navbar navbar-dark sticky-top navbar-expand-lg" data-backdrop="false" id="top-nav">
  <a href="/">
    <img id="logo" class="navbar-brand" src="/img/logos/banner.webp?v={{lookup sums 'img/logos/banner.png`'}}" alt="logo"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-collapsible-content" aria-controls="header-collapsible-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="header-collapsible-content">
    <ul class="navbar-nav nav justify-content-center text-center mr-auto mt-2 mt-lg-0 n-right">
      <li class="nav-item">
        {{> dynamicSocialBtns}}
        <div class="mr-1"></div>
        {{> tagToggles}}
        <div class="mr-1"></div>
        {{> siteOptions}}
      </li>
      {{> tagDropdown}}
      {{> siteOptionListItems}}
      {{> dynamicSocialItems}}
      <li class="nav-item"><a class='nav-link' href='/feedback' target='_blank' rel='noopener' name='Feedback Form'>Feedback</a></li>
    </ul>
  </div>
</nav>
