<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" id="top-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="https://i.imgur.com/xOpIktm.png" alt="logo"/>
    </div>
    <div class="btn-group navbar-right pull-right" id="resets">
      <button type="button" class="btn btn-sm btn-danger btn-reset" data-reset="all">Reset</button>
      <button type="button" class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item btn-reset" href="#" data-reset="toggles">Just Toggles</a>
        <a class="dropdown-item btn-reset" href="#" data-reset="videos">Just Watched Videos</a>
      </div>
    </div>
    <div class="btn-group btn-group-toggle navbar-right" data-toggle="buttons" id="options">
      <label class="btn btn-sm btn-secondary opts-h" name="Weapons Toggle" id="toggle-weapon">
        <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-weapon-check"> Weapons
      </label>
      <label class="btn btn-sm btn-secondary opts-h" name="Warframes Toggle" id="toggle-warframe">
        <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-warframe-check"> Warframes
      </label>
      <label class="btn btn-sm btn-secondary opts-h" name="Machinima Toggle" id="toggle-machinima">
        <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-machinima-check"> Machinima
      </label>
      <label class="btn btn-sm btn-secondary opts-h" name="SFM Toggle" id="toggle-sfm">
        <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-sfm-check"> SFM
      </label>
      <label class="btn btn-sm btn-secondary opts-h" name="Lore Toggle" id="toggle-lore">
        <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-lore-check"> Lore
      </label>
      <label class="btn btn-sm btn-secondary opts-h" name="Talk Toggle" id="toggle-talk">
        <input type="checkbox" autocomplete="off" class="opts-h" id="toggle-talk-check"> Talk
      </label>
    </div>
  </div>
</nav>
