<li class="nav-item"><a class='nav-link' href='/feedback' target='_blank' rel='noopener' name='Feedback Form'>Feedback</a></li>
<li class="nav-item dropdown text-center">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reset
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item btn-reset" href="#" data-reset="all">Reset All</a>
    <a class="dropdown-item btn-reset" href="#" data-reset="toggles">Just Toggles</a>
    <a class="dropdown-item btn-reset" href="#" data-reset="videos">Just Watched Videos</a>
  </div>
</li>
