<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Tags
  </a>
  <div class="dropdown-menu text-center opts" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" data-toggle-opt="weapon" href="#">Weapons</a>
    <a class="dropdown-item" data-toggle-opt="warframe" href="#">Warframes</a>
    <a class="dropdown-item" data-toggle-opt="machinima" href="#">Machinimna</a>
    <a class="dropdown-item" data-toggle-opt="sfm" href="#">SFM</a>
    <a class="dropdown-item" data-toggle-opt="lore" href="#">Lore</a>
    <a class="dropdown-item" data-toggle-opt="talk" href="#">Talk</a>
    <a class="dropdown-item" data-toggle-opt="fashion" href="#">FashionFrame</a>
  </div>
</li>
