<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Tenno.tv... Warframe YouTube content, but less suck">
    <meta name="theme-color" content="#000">
    {{#if title}}
      <title>Tenno.tv | {{title}}</title>
    {{else}}
      <title>Tenno.tv</title>
    {{/if}}
    <meta property="og:title" content="Tenno.tv" />
    <meta property="og:description" content="It's YouTube, but less suck." />
    <meta property="og:url" content="https://tenno.tv" />
    <meta property="og:image" content="/img/logos/logo-50.png?v={{lookup sums 'img/logos/logo-50.png`'}}" />
    <link rel="manifest" href="/manifest.json">
    {{> criticalassets}}
    {{> analytics}}
  </head>
  <body>
    {{> nav}}
    {{> alerts}}
    {{{body}}}
    {{> dependencies}}
    {{> footer}}
  </body>
</html>
