<div class="container">
  <div class="row">
    <div class="embed-responsive embed-responsive-16by9 col-md-12" id="playerWrapper">
      <div id="player">Loading player...</div>
    </div>
    <br />
    <br />
  </div>
  <div class="row">
    <div class="col-md-12" id="t-wrap">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col" class="numRow col-md-1">#</th>
            <th scope="col" class="title col-md-6">Title</th>
            <th scope="col" class="author col-md-2">Owner</th>
            <th scope="col" class="tags col-md-3">Tags</th>
          </tr>
        </thead>
        <tbody id="playlist">
        </tbody>
      </table>
    </div>
  </div>
</div>
