<div class="embed-responsive embed-responsive-16by9" id="playerWrapper">
  <div id="player" class="embed-responsive-item">Loading player...</div>
</div>
<div id="yt-subscribe-container" style="display:none;" class="text-center">
  <div id="sub-div" class="g-ytsubscribe"></div>
</div>
