:root {
  --primary-c: #ccc;
  --secondary: #c0c0c0;
  --table-c: #131313;
}

body {
  background-color: var(--table-c);
  color: var(--primary-c);
}

.container {
  margin-bottom: 30px;
}

img.navbar-brand {
  margin-top: 10px;
  height: 50px;
}

.wfcd-banner {
    height: 64px;
}

.modal-dialog, .modal-body {
  max-height: calc(100vh - 225px);
  overflow-y: auto;
}

.hide-overflow { text-overflow: ellipsis; overflow: hidden; }
.numRow { width: 8.33333333%; }
.title { width: 50% }
.author { width: 16.666666666% }
.tags { width: 25%;}

/* table scrolli-ness */
#t-wrap thead, #t-wrap tbody { display: block; }
#t-wrap tbody#playlist {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(33vh - 55px);
}

#t-wrap table {
    border-collapse: separate;
    border: solid var(--primary-c) 1px;
    -moz-border-radius:6px;
    border-radius:6px;
}

#t-wrap td, #t-wrap th {
    border: none;
}

#t-wrap th {
    border-bottom: 1px var(--primary-c) solid;
}

#t-wrap tbody tr {border-top: none; display: flex;}

#t-wrap td:first-child, #t-wrap th:first-child {
     border-left: none;
}

#t-wrap>table>thead>tr { width: 100%; display: flex; }

.table-dark {
  background-color: var(--table-c)!important;
  /*border: var(--primary-c) 1px solid;*/
}

.table-dark a { color: var(--primary-c); }
.table-dark a:visited { color: var(--red); }
.table-dark a:hover { color: var(--red); }
#t-wrap thead th { border-color: var(--primary-c); }
#t-wrap thead { border-bottom: 1px; }
.table thead th { border-bottom: 2px solid var(--primary-c)}

.author-img { display: none; }

/* Modal content */
.modal-content { background-color: rgba(40, 40, 40, .8); color: var(--primary-c) }
.modal-content img { background-color: rgba(255, 255, 255, 0.3); }
.modal-footer { border-top: #131313; }
.modal-header { border-bottom: #131313; }

/* Footer content */
.navbar {
  box-shadow: 0 1px 2px var(--primary-c);
}
.navbar-footer {
    bottom: 0;
    width: 100%;
    height: 31px;
    position: fixed;
    color: var(--primary-c);
    background-color: var(--table-c);
}
.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-footer a, a { color: #e51c23; }

/* Buttons */
.btn-outline-danger { border: 1px solid #e51c23; }
.btn-danger { border: 1px solid transparent; }
.navbar {
  padding: 0.5rem 0.5rem;
  margin-bottom: 10px;
}

#options button {
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-menu {
  z-index: 9999;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #f50e0e;
  border-color: #f50e0e;
}

/* Scrollbar */
/* width */
#t-wrap::-webkit-scrollbar {
    width: 3px;
    overflow: hidden;
}

/* Track */
#t-wrap::-webkit-scrollbar-track {
    background: #f1f1f1;
    overflow: hidden;
}

#t-wrap::-webkit-scrollbar-track:hover {
    background: #f1f1f1;
    overflow: hidden;
    width:10px;
}

/* Handle */
#t-wrap::-webkit-scrollbar-thumb {
    background: #888;
    overflow: hidden;
}

/* Handle on hover */
#t-wrap::-webkit-scrollbar-thumb:hover {
    background: #555;
    overflow: auto;
    padding-right: 1px;
    width:10px;

}
/* Responsive menu */
@media only screen and (max-width: 768px) {

}

@media only screen and (min-width: 768px) {
  #opts-vertical {
    display: none;
  }
}
