:root {
  --primary: #fff;
  --secondary: #c0c0c0;
  --table-c: #131313;
  --theme: #44a9db;
  --dblue: #045b86;
}

body {
  background-color: var(--table-c);
  color: white;
}
/* top nav */
#top-nav {
  background-color: var(--table-c)
}
.modal-body a img.wfcd-banner {
  height: 110px;
  overflow: hidden;
  background-color: rgba(0,0,0,.9);
}

.modal-backdrop.fade.show {
  background-color: transparent;
}

.modal-dialog, .modal-body {
  /* max-height: calc(100vh - 225px); */
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 1700px)  {
  .container {
      max-width: 1500px;
  }
}

@media (min-width: 1800px)  {
  .container {
      max-width: 1700px;
  }
}

@media (min-width: 2200px)  {
  .container {
      max-width: 2000px;
  }
}

.hide-overflow { text-overflow: ellipsis; overflow: hidden; }
.numRow { width: 8.33333333%; }
.title { width: 50% }
.author { width: 16.666666666% }
.tags { width: 25%;}

/* table scrolli-ness */
.plist thead, .plist tbody { display: block; }
.plist tbody {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(33vh - 55px);
}

.plist table {
  border-collapse: separate;
  border: solid var(--primary) 1px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.plist td, .plist th {
    border: none;
}

.plist th {
    border-bottom: 1px var(--primary) solid;
}

.plist tbody tr {border-top: none; display: flex;}

.plist td:first-child, #t-wrap th:first-child {
     border-left: none;
}

.plist.table>thead>tr { width: 100%; display: flex; }

.table-dark.plist {
  background-color: transparent;
}

.table-dark a { color: var(--primary); }
.table-dark a:visited { color: var(--theme); }
.table-dark a:hover { color: var(--theme); }
.plist thead th { border-color: var(--primary); }
.plist thead { border-bottom: 1px; }
.plist.table thead th { border-bottom: 2px solid var(--primary)}

.author-img { display: none; max-height: 50px; }

.navbar.n-center {
  box-shadow: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.yt-padding {
  padding-top: 5px;
}

@media (min-width: 990px) {
  .n-right li:first-child {
    position: fixed;
    right: 5px;
    top: 1em;
    align-items: flex-start;
    display: flex;
    align-self: flex-end;
  }

  .n-right li:not(:first-child) {
    display: none;
  }

  #top-nav {
    height: 4em;
  }
}

@media (max-width: 990px) {
  .n-right li:first-child {
    display: none;
  }
}

/* Modal content */
.modal-content { background-color: rgba(40, 40, 40, .8); color: var(--primary); overflow-x: hidden; }
.modal-content img { background-color: rgba(255, 255, 255, 0.3); }
.modal-footer { border-top: #131313; }
.modal-header { border-bottom: #131313; }

/* Footer content */
.navbar-footer {
  bottom: 0;
  width: 100%;
  height: 31px;
  position: fixed;
  color: var(--primary);
  background-color: var(--table-c);
  box-shadow: 0px -1px 2px rgba(0,0,0,.3);
  z-index: 5;
}

.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar-footer a, a { color: var(--theme); }

/* Buttons */
.btn-outline-danger { border: 1px solid #e51c23; }
.btn-danger { border: 1px solid transparent; }

/* nav stuff */
.navbar {
  padding: 0.5rem 0.5rem;
  margin-bottom: 10px;
}

#above-player-controls .navbar {
  padding: 0;
}

#options button {
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-menu {
  z-index: 9999;
}

/* toggles */
.btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show>.btn-secondary.dropdown-toggle {
  background-color: #444242;
}

.btn-secondary:not(:disabled):not(.disabled):active .sel-img,
  .btn-secondary:not(:disabled):not(.disabled).active .sel-img,
  .show>.btn-secondary.dropdown-toggle .sel-img {
  filter: invert(100%);
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #f50e0e;
  border-color: #f50e0e;
}

.toggle-img {
  height: 15px;
}

.icons8-Comment {
  margin-top: -2px;
}

.btn-sm {
  height: 26px;
}
.toggle-svg {
  width: 16px;
  height: 16px;
  fill: black;
}

/* player centering */
.body-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/* floating alert */
#warn-refetch {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.video-row .title i {
  display: none;
  color: var(--primary);
}

.video-row.table-active .title i {
  display: inline;
  margin-right: 10px
}

#toggle-label[disabled] {
  background-color: #fff;
}

.creator-name {
  font-size: 16px;
  color: #44a9db;
  font-weight: bold;
}

/* Social icons */
.btn-social-youtube, .btn-social-youtube:hover {
  color: #F00;
}
.btn-social-twitch, .btn-social-twitch:hover {
  color: #6441A4;
}
.btn-social-patreon, .btn-social-patreon:hover {
  color: #F96854;
}
.btn-social-twitter, .btn-social-twitter:hover {
  color: #1DA1F2;
}

.dropdown-menu {
  background-color: inherit;
}

.dropdown-menu a {
  color: white;
}

.dropdown-item:hover {
  background-color: #303030;
  background-image: none;
  color: white;
}

.dropdown-item.active {
  background-color: var(--dblue);
  background: var(--dblue) linear-gradient(180deg, var(--theme), var(--dblue)) repeat-x
}


/* Dashboard Styles */
.content_creator_playlist,
  .content_creator_playlist .title,
  .content_creator_playlist .scroll
{
  width: 100%;
}

.content_creator_playlist .title {
  font-size: 1.75em;
  margin-bottom: 0.25em;
  margin-top: 1.5em;
  margin-left: 5px;
  display: flex;
}

.content_creator_playlist .title i {
  font-size: 0.75em;
  margin: 5px;
}

.content_creator_playlist .title a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.content_creator_playlist .playlist
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.content_creator_playlist .scroll
{
  overflow-x: hidden;
  position: relative;
}

.content_creator_playlist .bottom
{
  display: flex;
  position: relative;
}

.content_creator_playlist .previous,
  .content_creator_playlist .next,
  .content_creator_playlist .scroll
{
    height: 130px;
}

.content_creator_playlist .previous,
  .content_creator_playlist .next
{
    position: absolute;
    top: 40%;
    z-index: 3;
    width: 30px;
    height: 30px;
    background-color: var(--theme);
    color: #fff;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 15px;
    box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.75);
}

.content_creator_playlist .next
{
  float: right;
  right: -15px;
}

.content_creator_playlist .previous
{
  left: -15px;
}

.content_creator_playlist .previous i,
  .content_creator_playlist .next i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content_creator_playlist .video a i
{
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
}

.content_creator_playlist .video .shade
{
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.1em;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.content_creator_playlist .video .shade .shade-title {
  color: #ccf;
  font-size: 11px;
  margin: 0 5px 0 5px;

}

.content_creator_playlist .video img
{
  width: auto;
  height: 100%;
  vertical-align: unset;
}

.content_creator_playlist .video
{
  margin: 0 5px 0 5px;
  position: relative;
}

/* Player control buttons */
.liked
{
  color: green;
}

.disliked
{
  color: red;
}

/* Shade */

/* general styles */
.faded {
  opacity: 0.25
}

.hide {
  display: none!important;
}

.no-content-warning {
  display: inline-block;
  font-size: 5em;
}

.dim {
  opacity: 0.5;
}
