:root {
  --primary: #fff;
  --secondary: #c0c0c0;
  --table-c: #131313;
  --theme: #44a9db;
  --dblue: #045b86;
}

body {
  background-color: var(--table-c);
  color: white;
}
/* top nav */
.modal-body a img.wfcd-banner {
  height: 110px;
  overflow: hidden;
  background-color: rgba(0,0,0,.9);
}

.modal-backdrop.fade.show {
  background-color: transparent;
}

.modal-dialog, .modal-body {
  max-height: calc(100vh - 225px);
  overflow-y: auto;
  overflow-x: hidden;
}

.hide-overflow { text-overflow: ellipsis; overflow: hidden; }
.numRow { width: 8.33333333%; }
.title { width: 50% }
.author { width: 16.666666666% }
.tags { width: 25%;}

/* table scrolli-ness */
.plist thead, .plist tbody { display: block; }
.plist tbody {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(33vh - 55px);
}

.plist table {
  border-collapse: separate;
  border: solid var(--primary) 1px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.plist td, .plist th {
    border: none;
}

.plist th {
    border-bottom: 1px var(--primary) solid;
}

.plist tbody tr {border-top: none; display: flex;}

.plist td:first-child, #t-wrap th:first-child {
     border-left: none;
}

.plist.table>thead>tr { width: 100%; display: flex; }

.table-dark.plist {
  background-color: transparent;
}

.table-dark a { color: var(--primary); }
.table-dark a:visited { color: var(--theme); }
.table-dark a:hover { color: var(--theme); }
.plist thead th { border-color: var(--primary); }
.plist thead { border-bottom: 1px; }
.plist.table thead th { border-bottom: 2px solid var(--primary)}

.author-img { display: none; max-height: 50px; }

/* player controls */
#under-player-controls {
  height: 40px;
  margin-top: -10px;
}

.navbar.n-center {
  box-shadow: none;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.yt-padding {
  padding-top: 5px;
}

@media (min-width: 990px) {
  .n-right {
    position: fixed;
    right: 5px;
  }
}

#feedbackTrigger {

}

/* Modal content */
.modal-content { background-color: rgba(40, 40, 40, .8); color: var(--primary); overflow-x: hidden; }
.modal-content img { background-color: rgba(255, 255, 255, 0.3); }
.modal-footer { border-top: #131313; }
.modal-header { border-bottom: #131313; }

/* Footer content */
.navbar-footer {
  bottom: 0;
  width: 100%;
  height: 31px;
  position: fixed;
  color: var(--primary);
  background-color: var(--table-c);
  box-shadow: 0 1px 2px var(--primary);
}

.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar-footer a, a { color: var(--theme); }

/* Buttons */
.btn-outline-danger { border: 1px solid #e51c23; }
.btn-danger { border: 1px solid transparent; }
.navbar {
  padding: 0.5rem 0.5rem;
  margin-bottom: 10px;
}

#options button {
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-menu {
  z-index: 9999;
}

/* toggles */
.btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled).active,
  .show>.btn-secondary.dropdown-toggle {
  background-color: #444242;
}

.btn-secondary:not(:disabled):not(.disabled):active .sel-img,
  .btn-secondary:not(:disabled):not(.disabled).active .sel-img,
  .show>.btn-secondary.dropdown-toggle .sel-img {
  filter: invert(100%);
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #f50e0e;
  border-color: #f50e0e;
}

.toggle-img {
  height: 15px;
}

.icons8-Comment {
  margin-top: -2px;
}

.btn-sm {
  height: 26px;
}
.toggle-svg {
  width: 16px;
  height: 16px;
  fill: black;
}

/* player centering */
#playerWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

/* floating alert */
#warn-refetch {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.video-row .title .fa-play {
  display: none;
  color: var(--primary);
}

.video-row.table-active .title .fa-play {
  display: inline;
  margin-right: 10px
}

#toggle-label[disabled] {
  background-color: #fff;
}

.creator-name {
  font-size: 16px;
  color: #44a9db;
  font-weight: bold;
}

/* Social icons */
.btn-social-youtube {
  color: #F00;
}
.btn-social-twitch {
  color: #6441A4;
}
.btn-social-patreon {
  color: #F96854;
}
.btn-social-twitter {
  color: #1DA1F2;
}
