:root {
  --primary-c: #ccc;
  --secondary: #c0c0c0;
  --table-c: #131313;
}

body {
  background-color: var(--table-c);
  color: var(--primary-c);
}

.container {
  margin-bottom: 30px;
}

img.navbar-brand {
  height: 50px;
}

.modal-body a img.wfcd-banner {
  height: 110px;
  overflow: hidden;
  background-color: rgba(0,0,0,.9);
}

/*
Remove top for now, the "clickable" background does't extend above if we do this.
.plist-modal {
  top: 335px;
}
*/

.modal-backdrop.fade.show {
  background-color: transparent;
}

.modal-dialog, .modal-body {
  max-height: calc(100vh - 225px);
  overflow-y: auto;
}

.hide-overflow { text-overflow: ellipsis; overflow: hidden; }
.numRow { width: 8.33333333%; }
.title { width: 50% }
.author { width: 16.666666666% }
.tags { width: 25%;}

/* table scrolli-ness */
.plist thead, .plist tbody { display: block; }
.plist tbody {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(33vh - 55px);
}

.plist table {
  border-collapse: separate;
  border: solid var(--primary-c) 1px;
  -moz-border-radius:6px;
  border-radius:6px;
}

.plist td, .plist th {
    border: none;
}

.plist th {
    border-bottom: 1px var(--primary-c) solid;
}

.plist tbody tr {border-top: none; display: flex;}

.plist td:first-child, #t-wrap th:first-child {
     border-left: none;
}

.plist.table>thead>tr { width: 100%; display: flex; }

.table-dark.plist {
  background-color: transparent;
  /* background-color: var(--table-c)!important; */
}

.table-dark a { color: var(--primary-c); }
.table-dark a:visited { color: var(--red); }
.table-dark a:hover { color: var(--red); }
.plist thead th { border-color: var(--primary-c); }
.plist thead { border-bottom: 1px; }
.plist.table thead th { border-bottom: 2px solid var(--primary-c)}

.author-img { display: none; max-height: 50px; }

/* Modal content */
.modal-content { background-color: rgba(40, 40, 40, .8); color: var(--primary-c) }
.modal-content img { background-color: rgba(255, 255, 255, 0.3); }
.modal-footer { border-top: #131313; }
.modal-header { border-bottom: #131313; }

/* Footer content */
.navbar {
  box-shadow: 0 1px 2px var(--primary-c);
}
.navbar-footer {
  bottom: 0;
  width: 100%;
  height: 31px;
  position: fixed;
  color: var(--primary-c);
  background-color: var(--table-c);
}

.n-right {
  margin-top: 5px;
  box-shadow: none;
  border:  none;
}

.navbar-footer > div > div {
    padding-top: 7px;
    padding-bottom: 7px;
}
.navbar-footer a, a { color: #e51c23; }

/* Buttons */
.btn-outline-danger { border: 1px solid #e51c23; }
.btn-danger { border: 1px solid transparent; }
.navbar {
  padding: 0.5rem 0.5rem;
  margin-bottom: 10px;
}

#options button {
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-menu {
  z-index: 9999;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #f50e0e;
  border-color: #f50e0e;
}

.toggle-img {
  height: 15px;
}

.icons8-Comment {
  margin-top: -2px;
}

.btn-sm {
  height: 26px;
}
.toggle-svg {
  width: 16px;
  height: 16px;
  fill: black;
}


/* player centering */
#playerWrapper {
  margin-left: auto;
  margin-right: auto;
}
